@model LimeChat.Models.Profile
@{
    ViewBag.Title = "Afisare profil";
}
@if (ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
{
    <div class="d-flex add flex-row justify-content-between p-3 border-1 border-top">

        <a class="btn  culoarebuton3" href="/Profiles/Edit/@Model.ProfileId"><i class="bi bi-pencil-fill"></i></a>

        <form method="post" action="/Profiles/Delete/@Model.ProfileId">

            <button class="btn culoarebuton3 " type="submit"><i class="bi bi-trash3"></i></button>

        </form>

    </div>
}

@* Afisarea unui profil *@
<div class="add">
    @if (ViewBag.buton == true)
    {
        <a class="culoarebuton7" href="/Profiles/AddFriend/@Model.UserId"><i class="bi bi-person-plus-fill"></i></a>
    }

</div>

<div class="card3">

    <div class="card2">

        <div class="card-header4 d-block justify-content-center ">
            <div class="d-block fontbun culoarebuna"><h2>@Model.ProfileName</h2></div>
            <div class=" fontbun culoarebuna card-subtitle d-block mb-2 text-muted center-block"><h6>@Model.ProfileUsername</h6></div>
        </div>


        @if (ViewBag.Public == true || ViewBag.prieteni == true || Model.UserId == ViewBag.UserCurent)
        {
            <div class="card d-flex justify-content-start ">

                <span class="badge2 badge-pill fontbun justify-content-start d-flex ">Despre mine</span>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="fontbun">@Model.ProfileBio</p>
                    </blockquote>
                </div>
            </div>





            @foreach (LimeChat.Models.Post post in ViewBag.Posts)
            {


                @if (post.GroupId == null)
                {
                    <div class="container2 d-flex justify-content-center flex-row mt-3 fontbun">
                        <div class=" text-bg-blue mb-3" style="width: 45rem;">
                            <div class="card-header3 row rounded-2">

                                <a class="fw-bold col-md-8 culoarebuna text-decoration-none" href="/Profiles/Show2/@post.UserId">@post.User.UserName</a>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>
                                <div class="container d-inline">
                                </div>
                                <div class="container d-inline">
                                </div>
                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <div class="container d-inline">
                                </div>

                                <span class="col-md-4">@post.PostDate.ToLongDateString()</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">@post.PostContent</p>

                                <a class="btn culoaresus d-flex justify-content-center text-light" href="/Posts/Show/@post.PostId">Afisare postare</a>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                }
            }
        }


        @*
        @foreach (var user in ViewBag.Users)
        {
        <div class="d-block"><h2>@user</h2></div>
        }*@




        @if (Model.UserId == ViewBag.UserCurent)
        {
            <div class="d-flex culoarebuton flex-row justify-content-between p-3 border-1 border-top">
                <a class="btn  culoaresus  d-flex justify-content-center text-light m-3 w-50" href="/Profiles/All/@Model.UserId">Afiseaza prieteni</a>
                <a class="btn  culoaresus  d-flex justify-content-center text-light m-3 w-50" href="/Profiles/Request">Afiseaza cereri</a>
            </div>
        }

    </div>
    @if (ViewBag.Public == false && ViewBag.prieteni == false && Model.UserId != ViewBag.UserCurent)
    {
        <h2 class="fontbun mb-5 mt-5 ml-sm-5 culoarebuna">Acest utilizator are contul privat!</h2>
    }
</div>
